{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
<meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    <link rel="stylesheet" href="{% static "formStyle.css" %}">
    <title>Forgot Password | Youttify</title>
</head>

<body>

        <div class="signup_header">
            <a href="" target="_blank">
            </a>
        </div>

    <div class="signup_body">
        <form class="login_form" method='POST' enctype="multipart/form-data">
            {% csrf_token %}

            <label for="sign-up-email" class="label">
                What's your email?
            </label>

            <input type="email" class="form_input" name="email" placeholder="Enter your email." required>



            <button class='btn btn_log_in' type="submit">Submit</button>
            <div class="divider"></div>
            <p class='label center-align'>Go back to login? <a href="{% url 'login' %}">Log in</a>.</p>
        </form>
    </div>

</body>

</html>